[submodule "experiments/ganak"]
	path = experiments/ganak
	url = https://github.com/meelgroup/ganak
[submodule "experiments/d4"]
	path = experiments/d4
	url = https://github.com/crillab/d4
[submodule "experiments/d4v2"]
	path = experiments/d4v2
	url = git@github.com:crillab/d4v2.git
